
{% extends 'main2.html' %}

{% block content %}
<style>
  tbody tr:nth-child(odd) {
    background-color: #F2F2F2; /* Gris clair */
  }

  tbody tr:nth-child(even) {
    background-color: #E6E6E6; /* Gris plus foncé */
  }

  table {
    background-color: #FFFFFF; /* Blanc */
  }
</style>

<br>


<center>


  <center>
	<div class="col-12">
		 <h5>Liste des demandes de réparation</h5>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
			<tr>
					<th>ID_demande</th>
					<th>ID_Employé</th>
					<th>Matériel</th>
					<th>Nature</th>
				    <th>Assigner un technicien</th>
				</tr>
			  {% for demande in demandes %}
            {% if demande.type == ' Réparation' %}
				<tr>

            <td>{{ demande.ID_D }}</td>
            <td>{{ demande.employe }}</td>
            <td>{{ demande.materiel }}</td>
            <td>{{ demande.statuts }}</td>

            {% if demande.statuts == 'non traitée' %}
					<th><a class='btn btn-sm btn-success' href="{% url  'dt'  %}">Assigner un Technicien</a></th>

{% endif %}
          </tr>

        {% endif %}
      {% endfor %}

  </table>

		</div>
	</div></center>
{% endblock %}