{% extends 'main.html' %}
{% block content %}

	<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>technicien:</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Modifier Techniciem</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="">Supprimer Technicien</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Informations</h5>
			<hr>
			<p>Nom : {{technicien.nom}} </p>
			<p>statut: {{technicien.statut}}</p>
		</div>
	</div>


</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">

		   	<button class="btn btn-primary" type="submit">Search</button>
		       {{myFilter.form}}
		</form>
		</div>
	</div>

</div>

{% endblock content%}